form .avatar{
	margin-bottom: 10px;
	width: 70px;	
}

.navbar .container-avatar,
.pub_image .container-avatar{
	width: 35px;
	height: 35px;
	border-radius: 900px;
	overflow: hidden;
	margin-left: 15px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{
	height: 100%;
	margin-right: 15px;

}

.pub_image{
	margin-bottom: 25px;
}

.pub_image .container-avatar{
	float:left;
	margin-right: 15px;
}

.pub-image .data-user{
	font-weight: bolder;
	line-height: 30px;
}

.pub_image .nickname{
	color: gray;
}

.image-container{
	height: : 100%;
	max-width: 700px;
	overflow: hidden;
}

.image-container{
	/*height: : 100%;
	max-width: 700px;*/
	width: 100%;
	max-height: 200px;
	overflow: hidden;
}

.pub_image .card-body{
	padding: 0px;
}

.pub_image .description{
	padding: 20px;
	padding-bottom: 0px;
}

.pub_image .btn-comments{
	margin: 20px;
	margin-top: 0px;
}

.likes{
	padding: 20px;
}

.likes img{
	width: 20px;
}



